.sectmain{
    background-color: #eceeef;
    padding: 2em;
}

.login-form{
    margin-top: 5em;
}

.sect2{
    background-color: #cccccc;
    padding: 2em;
}

.contactrow{
    margin-top: 10em;
}

.patih1{
    text-align: center;
    margin-top: 2rem;
}

.dash1{
    margin-top: 5em;
    
    
}
.fbutton{
    display: block;
    margin-left:15em;
    margin-top: 2em;
}

.historytable{
    margin-top: 2em;
}


.news{
    text-align: center;
}



.medical{
    text-align: center;
}

.formrow{
    margin-top: 2em;
}